

  <!-- {{ $parent.test }} -->
<div class="tableFoundation">
<h5>Points of Interest In Your City</h5>

  <div class="activityTable">
    <table class="table table-striped table-hover">
      <tbody>
        <tr class="info" ng-repeat="activity in vm.possibleActivities" ng-click="vm.getSelectedActivity(activity)">
          <td>{{activity.name}}</td>
          <td>{{activity.address}}</td>
          <td>{{activity.description}}</td>
          <td>{{activity.rating}} stars</td>
          <td><img src="{{activity.image}}"></td>
          <td><img src="{{activity.stars}}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
