<!DOCTYPE html>
<html>
<head>
  <title></title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

<style type="text/css">
  .activityList{
    width:100%;
  }
  #poop{
    margin:0 auto;
    width:50%;
    position:relative;
    top:25%;
  }
</style>
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>




</head>
<body>
<div ng-app="possibleActivities">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
              mdl-layout--fixed-tabs" id="poop">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Title</span>
      </div>
      <!-- Tabs -->
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>

      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
    </div>
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content">
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp activityList">
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric"></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>


        </div>
      </section>
      <section class="mdl-layout__tab-panel" id="fixed-tab-2">
        <div class="page-content">
         <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp activityList">
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                <td>25</td>
                <td>$2.90</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                <td>50</td>
                <td>$1.25</td>
              </tr>
              <tr>
                <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                <td>10</td>
                <td>$2.35</td>
              </tr>
            </tbody>
          </table>

        </div>
      </section>

    </main>
  </div>
</div>



</body>
</html>