<div id='chatbox'>

  <!-- <button id="messageFAB" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="vm.toggleChatDisplay()">
    <span class="glyphicon glyphicon-comment"></span>
    <!-- <span class="sr-only">Toggle Dropdown</span> -->
  <!-- /</button> -->
  <button type="button" id="chat-button" class="btn btn-default" data-toggle="collapse" data-target="#chat">
    <span class="glyphicon glyphicon-comment"></span>
  </button>


  <div id="chat" class="collapse">
    <div id="chat-wrapper">
    <ul id="messages">
      <li ng-repeat='msg in vm.messages track by $index'>{{msg}}</li>
    </ul>


    <form ng-submit="vm.sendMsg()">
      <input id="messageInput" type="text" autocomplete="off" ng-model="vm.newMsg"/>
    </form>
  </div>

  </div>


</div>
