h4 {
  text-align: center;
}
#submit{
  position: relative;
  top: 180px;
  text-align: center;
  font-size: 18px;
}
#searchTextField{
  color: white;
  background-color: rgba(0,0,0,0.5);
  text-align:center;
  font-size: 28px;
  width: 50%;
}
#search{
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
/*index.html*/
#planitNavLogo{
  top:10px;
  height:50px;
  width:100px;
}
#howToButton{
  position:relative;
  top:3px;
  float:right;
  background-color:#333333;
  color:white;
}
#howToModal{
  height:700px;
  position:absolute;
  top:25px;
  text-align:center;
}
#howToContent{
  height:500px;
  text-align:center;
}
#howToPara{
  width:400px;
  position:relative;
  top:50px;
  margin:0 auto;
}
.buffer{
  height:50px;
}
.footer{
  height:200px;
  background-color:#333333;
  width:100%;
  text-align:center;
  color:white;
}
.footerContent{
  position:relative;
  top:60px;
}
.footerContent a{
  color:white;
}
/*end index page*/

/*Search Bar*/
.indexJumbo{
  position:relative;
  top:-21px;
  background-image:url('bridge.jpeg');
  background-size:cover;
  height:700px;
  text-align:center;
  color:white;
}
#jumboHeader{
  text-align:center;
  color:white;
}
#planItButton{
  position:relative;
  top:180px;
}
/*End Search*/

/*Trip Page*/
/*Activity List*/
.tableFoundation{
  border:black 1px;
}
.activityTable{
  border:black 1px;
  height:950px;
  overflow:auto;
  display: inline-block;
}
.check{
  height:60px;
  width:60px;
}
form.tab-form-demo .tab-pane {
  margin: 20px 20px;
}
/*End Activity List*/

/*Itinerary List*/
.itineraryTable{
  margin-top: 86px;
  border:black 1px;
  height:950px;
  overflow:auto;
  display: inline-block;

}
/*End Itinerary List*/

/*End Trip Page*/

/*Auth template*/
#authIdTemplate{
  text-align:center;
  margin:0 auto;
}
#modalHash{
  width: 350px;
}
/*end Auth template*/

/*Fab*/

#chatbox{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  background-color: white;
  border: 2px solid black;

}

#messages{
  width: 150px;
  height: 100px;
  overflow: auto;
  border: 2px solid black;
  list-style-type: none;
}
#chatbox form{
  position: absolute;
  top: 150px;
}


/*#messageFAB{
  border:0px;
  background-color:dodgerblue;
  height:60px;
  width:60px;
  border-radius: 30px;
  box-shadow:0px 0px;
  box-shadow: 0px 10px 47px 0px rgba(0,0,0,0.75);
}


#dropupBtn{
  background-color:dodgerblue;
}

#messageFAB:hover{
  transition:.5s;
  color:dodgerblue;
  background-color:#333333;
  box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.50);
}

.dropup{
  position:fixed;
  left:60px;
  top:200px;
  border:0px;
}


#messageBox{
  text-align:center;
  height:150px;
  width:200px;
  background-color: white;
  border: 1px solid black;
}
#messageInput{
  position:relative;
  top:100px;
  width:90%;
}
.messages{
  background-color:white;
}*/

/*End Fab*/
