<<<<<<< HEAD
#submit{
  position: relative;
  top: 180px;
  text-align: center;
  font-size: 18px;
}

#searchTextField{
  color: white;
  background-color: transparent;
  border-color: transparent;
}
=======
/*

=== CSS SELECTORS ===

.               |  class
#               |  id


*/

>>>>>>> feat/activities


#planitNavLogo{
  top:10px;
  height:50px;
  width:100px;
}

.indexJumbo{
  position:relative;
  top:-21px;
  background-image:url('bridge.jpeg');
  background-size:cover;
  height:700px;
  text-align:center;
  color:white;
}
#jumboHeader{
  text-align:center;
  color:white;
}
input[type=text] {
  color: #000;
}
/*Activity*/
.activityTable{
  height:500px;
  overflow:auto;
}
/*End ACtivity*/


/*Itinerary*/
.itineraryTable{
  height:500px;
  overflow:auto;
}
/*End Itinerary*/

/*Auth template*/
#authIdTemplate{
  text-align:center;
  margin:0 auto;
}

.planIdButton:hover{
  transition:1s;
}







