/*

=== CSS SELECTORS ===

.               |  class
#               |  id


*/


/*index.html*/
#planitNavLogo{
  top:10px;
  height:50px;
  width:100px;
}
/*end index page*/


/*Search Bar*/
.indexJumbo{
  position:relative;
  top:-21px;
  background-image:url('bridge.jpeg');
  background-size:cover;
  height:700px;
  text-align:center;
  color:white;
}
#jumboHeader{
  text-align:center;
  color:white;
}
#searchTextField{
  background-color:rgba(0, 0, 0, 0);
  text-align:center;
}

#planItButton{
  position:relative;
  top:180px;
}





/*End Search Bar*/


/*Activity List*/
.activityTable{
  height:500px;
  overflow:auto;
}
/*End Activity List*/


/*Itinerary List*/
.itineraryTable{
  height:500px;
  overflow:auto;
}
/*End Itinerary List*/

/*Auth template*/
#authIdTemplate{
  text-align:center;
  margin:0 auto;
}

#planItButton:hover{
  transition:1s;
}

/*end Auth template*/





